#skills {
  background-color: var(--dark);
  display: grid;

  height: 100vh; /* fylder hele skærmens højde */
  display: flex; /* gør det nemt at centrere indhold */
  /* align-items: center; lodret centrering */
  /* justify-content: center; horisontal centrering */
}
#skills h2 {
  color: var(--yellow);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 60px;
  margin-left: 2rem;
}
