/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Farver */
:root {
  --pink: #eab0c8;
  --orange: #d76a4d;
  --dark: #6e1e3b;
  --yellow: #f9dd8a;
}

body {
  background-color: #f5e4eb;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.logo img {
  width: 200px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

/* Typografi */

header {
  font-size: 20px;
  font-family: bodoni moda, serif;
  font-weight: 500;
  font-style: medium;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 10rem;
  letter-spacing: 8px;
  color: var(--dark);
  transform: translateY(-5rem);
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: var(--dark);
  margin-bottom: 2rem;
  margin-top: 4rem;
}

h3 {
  font-family: bodoni moda, serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--dark);
  margin-bottom: 1rem;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--dark);
  line-height: 1.6;
}

/* Hero section */
.hero {
  position: relative;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 2rem;
}

a {
  text-decoration: none;
}

/* gradient move index */
.gradient {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, #eab0c8, #f9dd8a, #fff6dc);
  background-size: 100% 300%;
  animation: gradientMove 3s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

/*footer*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--orange);
  padding: 2rem;
  position: sticky;
  min-height: 25vh;
}
.footer h2 {
  color: var(--dark);
  font-size: 50px;
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 0;
  font-weight: 500;
}

.footer .logo img {
  width: 150px;
  height: auto;
  margin-left: 0;
  margin-top: 0;
}

.pinkE {
  color: var(--pink);
}
.orangeE {
  color: var(--orange);
}

.footer a {
  text-decoration: none;
  color: var(--dark);
  font-family: bodoni moda, serif;
  letter-spacing: 0.02em;
  font-weight: 500;
}
/* media footer*/

@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "logo"
      "kontakt"
      "social"; /* jeg navngiver pladserne i grid’et, så jeg selv bestemmer rækkefølgen*/
    text-align: center;
    gap: 1rem;
  }

  #logo {
    grid-area: logo;
  }

  .contact-footer:nth-of-type(1) {
    /* nth-of-type() tæller elementer med samme HTML-tag, mit tilfælde er alle en div*/
    grid-area: kontakt;
  }

  .contact-footer:nth-of-type(2) {
    grid-area: social;
  }
}

/* media hero */
@media (max-width: 800px) {
  .hero {
    min-height: 50vh; /* Hero fylder 50 % af skærmens højde */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .hero h1 {
    /*clamp:lader værdi tilpasse sig skærme*/
    font-size: clamp(3rem, 8vw, 3rem); /*min:2rem, max:3rem, tilpasser skærmen:8vw*/
    text-align: center;
    line-height: 1.1;
  }

  h2 {
    font-size: 30px;
  }
}
