/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Farver */
:root {
  --pink: #eab0c8;
  --orange: #d76a4d;
  --dark: #6e1e3b;
  --yellow: #f9dd8a;
}

body {
  background-color: var(--pink);
}

img {
  width: 100%;
  height: auto;
  display: block;
}
html {
  scroll-behavior: smooth;
}

/* Typografi */

header {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  color: var(--dark);
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: bold;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: semi-bold;
  font-size: 60px;
  color: var(--dark);
  margin-left: 2rem;
}

/* Hero section */
.hero {
  position: relative;
  height: 100vh;
  background-color: var(--orange);
  margin-left: 35%;
  border-bottom-left-radius: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 8rem;
  letter-spacing: 8px;
  color: var(--dark);
  justify-content: center;
}

@media (max-width: 800px) {
  /* Forside */
  .hero {
    margin-left: 0;
    border-bottom-left-radius: 0;
    font-size: 2rem;
  }

  #projects {
    grid-template-columns: 1fr;
    order: 1;
  }
  .picture-projects1 {
    grid-template-columns: 1fr;
  }
  .text-about-me {
    grid-template-columns: 1fr;
    order: 2;
    object-fit: cover;
    justify-self: center;
  }
}
