/* Om mig side*/
#about-me {
  background-color: var(--yellow);
  display: grid;

  height: 100vh; /* fylder hele skærmens højde */
  display: flex; /* gør det nemt at centrere indhold */
  align-items: center; /* lodret centrering */
  justify-content: center; /* horisontal centrering */
}
.text-about-me {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  line-height: 1.6;
  font-size: 16px;
}

.text-about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-left: 2rem;
}

img.eva {
  width: 60%;
  height: auto;
  justify-content: center;
}
