/* Om mig side*/
#about-me {
  background-color: var(--yellow);
  display: grid;
  height: 100vh;
  min-height: 80vh;
}
.text-about-me {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  line-height: 1.6;
  font-size: 16px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.image-about-me {
  width: 100%;
  height: 500px;
  object-fit: cover;
  align-content: center;
  margin-bottom: 2rem;
}

/* Mobil-layout for skærme 800px og mindre */
@media screen and (max-width: 800px) {
  .text-about-me {
    display: grid;
    grid-template-columns: 1fr; /* én kolonne: tekst over billede */
    text-align: center; /* valgfrit: centrer teksten */
  }

  .image-about-me {
    margin-top: 20px; /* afstand mellem tekst og billede */
    justify-self: center; /* centrer billedet i grid-cellen */
  }
}
