/* Om mig side*/
#about-me {
  background-color: var(--yellow);
  display: grid;
  height: 100%;
  min-height: 80vh;
}
.text-about-me {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
  line-height: 1.6;
  font-size: 16px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.image-about-me {
  width: 100%;
  height: 500px;
  object-fit: cover;
  align-content: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {
  #about-me {
    height: 100%;
  }
  .text-about-me {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image-about-me {
    margin-top: 20px;
    justify-self: center;
    object-position: 17% 100%; /* position af image, det første taæ viser hvor meget den er blevt rykket */
  }
}
