/* Projekt side */
#projects {
  background-color: #f5e3ea;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  object-fit: cover; /* bevarer proportioner og fylder cellen */
  margin-bottom: 2rem;
}

.picture-projects2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  object-fit: cover; /* bevarer proportioner og fylder cellen */
}

h2.projects {
  padding-top: 6rem;
}

.card {
  border-radius: 10px;
  background-color: none;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;

  border-radius: 5px;
  overflow: hidden;
}

.card h3 {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: var(--dark);
}

.card-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text-container span {
  font-size: 18px;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  font-family: "bodoni moda, serif";
  color: var(--dark);
  font-weight: 500;

  letter-spacing: 0.02em;
}

/* media  */
@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  .card-text-container h3 {
    order: 2;
  }
  .card-text-container span {
    order: 3;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 0;
  }

  .cards {
    order: 2;
    margin: 0 20px;
  }
}
