.theme-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.content-h2 {
  margin-top: 0;
}

/* button */
.button {
  background-color: var(--yellow);
  color: var(--dark);

  font-size: 16px;
  font-weight: 500;
  font-family: playfair display sc, serif;
  letter-spacing: 0.02em;

  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  min-height: 30px;
  padding: 14px 54px;
  white-space: nowrap; /* Prevent text from wrapping */
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: var(--dark);
  color: var(--yellow);
}
.button:active {
  transform: scale(0.96);
}
