.theme-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* button */
.button {
  border: 1px solid rgba(110, 30, 59, 0.52);
  border-radius: 5px;
  color: var(--dark);

  font-size: 16px;
  font-weight: 500;
  font-family: "bodoni moda", serif;
  letter-spacing: 0.02em;

  line-height: normal;

  cursor: pointer;
  min-height: 30px;
  padding: 10px 54px;
  white-space: nowrap; /* Prevent text from wrapping */
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: var(--dark);
  color: #f5e4eb;
}
.button:active {
  transform: scale(0.96);
}

/* tilbage knap på tema siderne */
.back-button {
  color: #6e1e3b95;

  cursor: pointer;
  min-height: 30px;
  border-radius: 5px;
  padding: 10px 28px;
  border: 1px solid rgba(110, 30, 59, 0.52);
  text-decoration: none;
  display: inline-block;

  margin-bottom: 1rem;
}

.back-button:hover {
  background-color: var(--dark);
  color: #f5e4eb;
}
.back-button:active {
  transform: scale(0.96);
}

.content-h2 {
  font-size: 40px;
}

/* media */
@media (max-width: 800px) {
  .theme-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; /* billede øverst, tekst under */
  }

  .theme-content img {
    order: -1; /* flytter billedet øverst */
    width: 100%;
    height: auto;
  }
  .content-h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 1.3rem;
  }
}
