.theme-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.content-h2 {
  margin-top: 0;
}

/* button */
.button {
  background-color: var(--yellow);
  color: var(--dark);

  font-size: 16px;
  font-weight: 500;
  font-family: "bodoni moda", serif;
  letter-spacing: 0.02em;

  line-height: normal;
  border-radius: 5px;
  cursor: pointer;
  min-height: 30px;
  padding: 14px 54px;
  white-space: nowrap; /* Prevent text from wrapping */
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: var(--dark);
  color: var(--yellow);
}
.button:active {
  transform: scale(0.96);
}

/* tilbage knap på tema siderne */
.back-button {
  color: #6e1e3b95;

  cursor: pointer;
  min-height: 30px;
  border-radius: 5px;
  padding: 8px 28px;
  border: 1px solid rgba(110, 30, 59, 0.52);
  text-decoration: none;
  display: inline-block;

  margin-bottom: 1rem;
}

.back-button:hover {
  color: var(--dark);
  border: 1px solid var(--dark);
}
.back-button:active {
  transform: scale(0.96);
}

.content-h2 {
  font-size: 40px;
}
.content-h2 span {
  display: inline; /* desktop */
}

/* Mobile layout - skærm <= 800px */
@media (max-width: 800px) {
  .theme-content {
    grid-template-columns: 1fr; /* én kolonne */
    grid-template-rows: auto auto; /* billede øverst, tekst under */
  }

  .theme-content img {
    order: -1; /* flytter billedet øverst */
    width: 100%; /* fyld hele kolonnen */
    height: auto; /* bevar proportioner */
  }
}

@media (max-width: 800px) {
  .content-h2 span {
    display: block; /* bryder linjen på mobil */
  }
  .content-h2 {
    font-size: 30px;
  }
  .content-h2 span {
    display: inline; /* desktop */
  }
}
